.search {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	.search-input {
		width: 90%;
		height: 20%;
		border-radius: 15px;
		box-shadow: 2px 2px lightgrey;
		border: 0px;
	}
	.search-results {
		width: 90%;
		height: 80%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}
