.postmenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	.postmenu-form {
		margin-top: 10px;
		width: 90%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	.day-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.day-inputs {
			width: 60%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
		}
	}
	.request-footer {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}
