.request {
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	.request-input {
		width: 90%;
		height: 60%;
		border-radius: 15px;
		box-shadow: 2px 2px lightgrey;
		border: 0px;
	}
	.request-footer {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}
	.request-submit {
		transform: translateX(-20px);
	}

	.request-feedback {
		align-self: flex-start;
	}
}
