.lateplate {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	max-height: 100%;

	.lateplate-header {
		width: 90%;
		height: 15%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		border-bottom: 1px solid rgba(34, 36, 38, 0.15);
		.lateplate-header-text {
			transform: translateY(10px);
		}
	}
	.lateplate-list {
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 90%;
		height: 85%;
		max-height: 90%;

		.single-lateplate {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			// margin-bottom: 10px;
			// padding: 10px 10px;
			width: 90%;
			margin: 10px 0px;
			.lp-time {
				width: 100px;
				height: 90%;
				div {
					margin: 0 !important;
				}
			}

			.lp-order {
				height: 100%;
				width: calc(100% - 80px);
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-evenly;
				border-bottom: 1px solid rgba(34, 36, 38, 0.15);
				div {
					margin: 0 !important;
				}
			}

			.lp-complete-button {
				background-color: grey;
				opacity: 0.8;
				height: 100%;
				width: 40px;
				border-radius: 35px;
			}
			.lp-complete-button:hover {
				opacity: 1;
			}
			.complete-green {
				background-color: green;
			}
		}
	}
}
