.lateplate {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	max-height: 100%;

	.lateplate-header {
		width: 90%;
		height: 15%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		border-bottom: 1px solid rgba(34, 36, 38, 0.15);
		.lateplate-header-text {
			transform: translateY(10px);
		}
	}
	.lateplate-list {
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 90%;
		height: 85%;
		max-height: 90%;

		.single-lateplate {
			width: 95%;
			height: auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin: 5px 0px;
			.lp-order {
				height: 100%;
				width: calc(100%- 40px);
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-evenly;
			}

			.lp-complete-button {
				background-color: grey;
				height: 100%;
				width: 40px;
			}
			.complete-green {
				background-color: green;
			}
		}
	}
}
